header {
  padding-top: 5px
}

.users {
  list-style-type: none;
  height: 480px;
  overflow: auto;
  margin-left: 0;
}

.user {
  margin-top: 1px;
  margin-left: 1px;
}

.show-more {
  width: 100%;
}

.user-link {
  width: 95%;
  margin-bottom: 9px;
}

.user-image {
  width: 220px;
  height: 220px;
}

.details {
  display: inline-block;
  width: 70%;
  text-align: center;
}
