<section class="small-5 medium-3 columns callout">
  <ul class="users">
    <li class="user" ng-repeat="user in vm.users | limitTo: vm.paginationLimit()">
      <a href="#/users/{{ user.login }}" class="thumbnail user-link">
        <img ng-src="{{ user.avatar_url }}" width="30"/>
        {{ user.id + '. ' + user.login }}
      </a>
    </li>
  </ul>
  <button ng-show="vm.hasMoreItemsToShow()" ng-click="vm.showMoreItems()" class="button radius show-more">Show more ..</button>
</section>

<section class="small-7 medium-9 columns callout" ui-view></section>
